<%= form_with(model: group) do |form| %>
  <% if group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
        <% group.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, "Group name" %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :member %>
    <%= form.number_field :member %>
  </div>

  <div class="field">
    <%= form.label :debutdate, "Debut date" %>
    <%= form.date_select :debutdate %>
  </div>

  <div class="field">
    <%= form.label :type, "Band type" %>
    <%= form.select :type, [["Banda", "band"], ["Mujeres", "women"], ["Hombres", "men"]], prompt: "Seleccione una opción..." %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
